.blog-page-title-container {
    padding: 96px 112px;
    background-color: rgba(242, 244, 247, 1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.blog-page-short-title {
    color: rgba(245, 71, 0, 1);
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 12px;
}

.blog-page-title {
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 23px;
}

.blog-page-desc {
    color: rgba(71, 84, 103, 1);
    font-size: 1.1rem;
}

.blog-page-cards-container {
    flex-wrap: wrap;
    gap: 32px;
    padding: 96px 0;
    max-width: 1390px;
    width: 100%;
}

.blog-page-card-container {
    background-color: rgba(249, 250, 251, 1);
    padding: 20px 20px 40px;
    height: 490px;
    border-radius: 20px;
    max-width: 425px;
    user-select: none;
}

.blog-card-button {
    min-width: fit-content;
    padding: 6px 10px;
    background-color: rgba(245, 71, 0, 1);
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 8px;
}