@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}

a {
    text-decoration: none;
    color: inherit;
}

.parent-flex-row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parent-max-width {
    max-width: 1216px;
    width: 100%;
}

.parent-flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent-flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #F54700;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(174, 50, 0, 1);
}