.contact-above-section-container {
    padding: 96px 0;
}

.contact-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact-us {
    color: rgba(223, 65, 0, 1);
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 12px;
}

.contact-info-cards-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-below-section-container {
    background-color: rgba(242, 244, 247, 1);
    width: 100%;
}