.header-container {
    align-items: center;
    padding: 18px 0;
    background-color: #F2F4F7;
    padding: 18px 112px;
    border-bottom:  1px solid #D0D5DD;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-left-section-container {
    display: flex;
    align-items: center;
}

.header-list-container {
    display: flex;
    list-style: none;
    gap: 32px;
    color: #475467;
    font-weight: bold;
}

.header-list-item {
    cursor: pointer;
}

.header-logo {
    margin-right: 80px;
}

.profile-button {
    border-radius: 50%;
    border: 1px solid #EAECF0;
    padding: 16px;
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.profile-actions {
    user-select: none;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 60%);
    width: 100px;
    background-color: white;
    padding: 8px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid rgb(209, 209, 209);
}

.profile-actions li {
    list-style: none;
    width: 100%;
    padding: 8px 12px;
    color: #475467;
    font-weight: bold;
    font-size: 0.9rem;
}

.profile-actions li:hover {
    background-color: rgb(238, 237, 237);
}
